@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>

@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası : @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Personel</th>
            <th>Alıcı</th>
            <th>Takip Kodu</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Personel</td>
                <td>@x.Alici</td>
                <td>@x.TakipKodu</td>
                <td>@x.Tarih</td>
                <td><a href="/CariPanel/KargoDetaylar/@x.TakipKodu" class="btn btn-primary">Detaylar</a></td>
            </tr>
        }

    </tbody>

</table>
