@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>

@{
    ViewBag.Title = "CariSatisGecmis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Cari Satış Gecmişi</h2>
<br />

<div class="bg-secondary">Cari Adı : @ViewBag.CariAd</div>

<table class="table table-bordered">

    <tr>
        <th>SATIŞ ID</th>
        <th>ÜRÜN</th>
        <th>PERSONEL</th>
        <th>FİYAT</th>
        <th>ADET</th>
        <th>TOPLAM TUTAR</th>
        <th>TARİH</th>
        <th></th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.SatisId</td>
            <td>@s.Urun.UrunAd</td>
            <td>@s.Personel.PersonelAd @s.Personel.PersonelSoyad</td>
            <td>@s.Fiyat</td>
            <td>@s.Adet</td>
            <td>@s.ToplamTutar</td>
            <td>@s.Tarih</td>
            <td><a href="#" class="btn btn-primary">Yazdır</a></td>
        </tr>
    }
</table>
