@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Fatura>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Fatura Listesi</h2>
<br />

<table class="table table-bordered mx-3 my-3">
    <thead>
        <tr>
            <th>SERİ SIRA NO</th>
            <th>VERGİ DAİRESİ</th>
            <th>TARİH</th>
            <th>SAAT</th>           
            <th>TESLİM EDEN</th>
            <th>TESLİM ALAN</th>
            <th>TOPLAM</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var f in Model)
        {
            <tr>
                <td>@f.FaturaSeriNo+@f.FaturaSiraNo</td>
                <td>@f.VergiDairesi</td>
                <td>@f.Tarih</td>
                <td>@f.Saat</td>              
                <td>@f.TeslimEden</td>
                <td>@f.TeslimAlan</td>
                <td>@f.Toplam</td>
                <td><button class="btn btn-warning"><i class="fas fa-eye"></i></button></td>
                <td><a href="/Fatura/FaturaGuncelle/@f.FaturaId" class="btn btn-primary">Güncelle</a></td>
                <td><a href="/Fatura/FaturaDetay/@f.FaturaId" class="btn btn-dark">Detaylar</a></td>
            </tr>
        }
    </tbody>


</table>
<a href="/Fatura/FaturaEkle" class="btn btn-primary">Yeni Fatura</a>



<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
